        nav {
            display: flex;
            justify-content: space-between;
            border: 2px solid green;
            padding: .7em .5em .7em .5em;
            font-size: 1.2em;
            align-items: center;
            img {
                margin-right: 3em;
            }
            button {
                margin-left: 1em;
            }
        }
        
        .button {
            background-color: rgba(255, 144, 103, 0.945);
            color: white;
            border: none;
        }
        
        section {
            border: 2px solid green;
            margin: 3em 0 3em 0;
            display: grid;
            grid-template-columns: 60% 40%;
        }
        
        #horizontal {
            border: 2px solid blue;
            margin: .5em;
            .item {
                display: flex;
                margin: .5em;
                border: 2px solid rgba(255, 144, 103, 0.945);
                img {
                    margin: .5em;
                }
                span {
                    padding: 2em;
                }
            }
            .two {
                border: 2px solid yellow;
            }
        }
        
        #vertical {
            border: 2px solid purple;
            margin: .5em .5em .5em 0;
            background: url("./net_logo.jpeg") no-repeat;
            background-size: contain;
            padding: 2em 1em;
            button {
                padding: 1em;
                width: 100%;
            }
        }